.body {
    padding: 30px;
    flex: 0.8;
    height: 100vh;
    color: white;
    overflow-y: overlay;
    background: linear-gradient(rgb(91, 87, 115), black);
}

.body-info {
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.body-infoText {
    flex: 1;
}

.body-info > img {
    height: 20vw;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.body-icons {
    display: flex;
    align-items: center;
}

.body-icons > .MuiSvgIcon-root {
    margin-right: 20px;
}

.body-shuffle {
    font-size: 80px !important;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.body-songs {
    margin: 20px -30px;
}

.body-shuffle:hover {
    transition: 100ms transform ease-in;
    transform: scale(1.08);
}

.body-infoText > h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.body-infoText > p {
    font-size: 14px;
}

